.Loan{
    display: block;
    
    margin: auto;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5em;
    /* text-align: center; */
    margin-left: 20%;
    margin-right: 20%; 
    border: 1px solid black;
    border-radius: 5%;
    padding: 3%; 
}