
.NavbarBrand{
  color: black;
  font-weight: bold;
}

.NavImage {
  height: 60px;
  border-radius: 50%;
}

.NavLink{
  font-weight: bold;
}

.navlinks {
  font-weight: bold;
}

.NavHome {
  background-color: white !important;
  box-shadow: black 0px 1px 15px;
}


