.LoginCard{
    display: block;
    margin: auto;
    justify-content: right;
    margin-top: 5em;
    margin-left: 30%;
    margin-right: 30%;
    border: 1px solid black;
    /* border-radius: 5%; */
    padding: 2%;
}

.container1 {
    background-size: cover;
    /* border: solid; */
}

.login-btn{
    /* margin-left: 15px; */
    display: block;
	margin: auto;
	width: 100%;
}

.register-btn {
    display: block;
	margin: auto;
	width: 100%;
}

.divider {
    text-align: center;
}